{
  "disp_serv_list":[5001,5002],
  "log_file":"dir_serv.log",
  "http_addr":"$http_addr",
  "file_serv_index":[1,2],
  "file_serv_addr":["163.29.113.47:22341","163.29.113.47:22342"],
  "conn_serv_proc":[2001,2002],
  "conn_serv_addr":["163.29.113.47:17908","163.29.113.47:17909"],
  "conn_serv_weight":[100,100],  
  "manage_addr":["$m_addr"],
  "monitor_inv":10
}