{
  "logic_serv_list":[3001,3002],
  "chat_serv_list":[6001,6002],
  "online_serv_list":[8001,8002],
  "file_serv_list":[9001,9002],
  "dir_serv_list":[10001],
  "log_file":"disp_serv.log",
  "manage_addr":["$m_addr"],
  "monitor_inv":5
}