{
  "disp_serv_list":[5001,5002],
  "log_file":"file_serv.log",
  "serv_index":$serv_index,
  "http_addr":"$http_addr",
  "max_file_size":10485760,
  "real_file_path":"./files",
  "safe_mod":3,
  "manage_addr":["$m_addr"],
  "monitor_inv":10
}