{
"listen_addr":"$listen_addr",
"http_addr":"$http_addr",
"log_file":"manage_serv.log",
"client_list":[[2001,"conn_serv-1"],[3001,"logic_serv-1"],[4001,"db_logic_serv-1"],[2002,"conn_serv-2"],[3002,"logic_serv-2"],[4002,"db_logic_serv-2"],[5001,"disp_serv-1"],[5002,"disp_serv-2"],[6001,"chat_serv-1"],[6002,"chat_serv-2"],[7001,"db_chat_serv-1"],[7002,"db_chat_serv-2"],[8001,"online_serv-1"],[8002,"online_serv-2"],[9001,"file_serv-1"],[9002,"file_serv-2"],[10001,"dir_serv-1"]],
"heart_timeout":20,
"reload_timeout":10,
"auth":["admin:admin&2020)" , "nmsoccer:csxxooxxsuomei"],
"auth_expire":3600
}